

{{#if last_name}}
<h2>{{last_name}}</h2>
{{else}}
<h2>Mis productos:</h2>
{{/if}}
<div class="d-flex justify-content-evenly">
{{#each producto}}
<div class="card" style="width: 15rem;">
  <img src={{this.photo}} class="card-img-top" style="width: 15rem; height:8rem">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">Producto</p>
    <span class= "emit_data" class="btn btn-primary">Agregar al carrito</span>
  </div>
</div>      
{{/each}}
</div>
{{!-- this para imprimir con each de arreglos --}}