<div class="d-flex justify-content-evenly">
    <div class="card" style="width: 15rem">
        <img src={{products.thumbnail}} class="card-img-top" style="width: 15rem;height:8rem">
        <div class="card-body">
            <h5 class="card-title">{{products.name}}</h5>
            <p class="card-text"> ${{products.price}} </p>
            <p class="card-text"> {{products.description}} </p>
            <button href="#" class="btn agregar-carrito"> Agregar al carrito </button>
        </div>
        <input type="" id="input"/>
        
    </div>
</div>
<script>
    
</script>